/* Hanken Grotesk Font Family */
@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
}
